body {
  background-color: gray;
}

.inspect {
  border: solid thin red;
}

#app {
  min-height: 56px;
}

.form-signin {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

/* Initial Loading */

.loading.progress {
  height: 56px;
  opacity: 0.5;
}

/* Reloading after blockstack authentication */

.reloading .landing {
  display:  none;
}

.reload  {
  display: none;
}

.reloading .reload {
  display: block;
}

/* Status after verified authenticated */

.authenticated .landing {
  display: none;
}

/* Drop zone area overlaying the image */

.dropzone-area {
  border: thick solid blue;
  height: 100%;
  width: 100%;
  opacity: 0.0;
}

.dropzone-area:hover {
  opacity: 0.7;
}

.show-dropzone .dropzone-area {
  opacity: 0.7;
}

/* Patch for the dropzone snackbar having background color consistent with theme
   (until their next version hopefully supports custom backgrounds) */

div[aria-describedby="client-snackbar"][class*=" SnackbarContentWrapper-success"] {
   background-color: #F8F8F8;
}
